{{- $isRepoOwner := promptBool "Are you the GitHub repository owner for this chezmoi configuration (y/n)" }}

{{- if $isRepoOwner }}
encryption = "age"
{{ "[age]" }}
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1l39zlp3sc098apyglap63pk9epwau4ywgwmp3pq6az2mvqq4dyvskzzgdr"
{{- end }}

[data]
  isRepoOwner = {{ $isRepoOwner }}

[edit]
  command = "nvim"
