{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{ range .packages.macos.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.macos.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.macos.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
