{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash

sudo -v

# FILEHASH ********************************************************************
# *****************************************************************************

fileHash=$(shasum -a 256 "$HOME/.local/share/chezmoi/.chezmoidata/packages.yaml")

# Detect package manager
if command -v pacman &>/dev/null; then
    pkgmgr="pac"
elif command -v apt &>/dev/null; then
    pkgmgr="apt"
else
    echo "❌ Unsupported package manager."
    exit 1
fi

# SCRIPT **********************************************************************
# *****************************************************************************

echo ""
if read -r -p "Do you want to install packages? (N/y) " REPLY && [[ ! "$REPLY" =~ ^[Yy]$ ]]; then
    echo "$REPLY"
    echo "Skipping package installation."
    exit
fi

# Count total packages
totalPackages=0
{{ range $key, $value := .packages }}
  {{- if (index $value $pkgmgr) }}
    totalPackages=$((totalPackages + 1))
  {{- end }}
{{ end }}
currentPackage=0

echo ""
echo "Processing $totalPackages packages with '${pkgmgr}'..."
echo ""

# Process packages
{{ range $key, $value := .packages -}}
  {{- $cmd := index $value $pkgmgr }}
  {{- if $cmd }}
    currentPackage=$((currentPackage + 1))
    echo -e "\033[35m----- [$currentPackage/$totalPackages] {{$key}} -----\033[0m"
    {{ $cmd }}
  {{- end }}
{{ end -}}

echo ""
echo "Done!"

{{ end -}}

