{{ if eq .chezmoi.os "windows" -}}

# FILEHASH ********************************************************************
# *****************************************************************************

# by embedding the file hash into this template, chezmoi will only detect
# changes if the hashed file changes. This will prevent unnecessarily running
# the script when the target file hasn't changed.

$fileHash = CertUtil -hashfile "$HOME/.local/share/.chezmoidata/packages.yaml" SHA256

# SCRIPT **********************************************************************
# *****************************************************************************

{{ range .packages.windows.winget -}}
echo "- Checking for {{ . }}..."
winget install {{ . }}
{{ end -}}

{{ end -}}
