{{ if eq .chezmoi.os "darwin" -}}

#!/bin/bash

# FILEHASH ********************************************************************
# *****************************************************************************

# by embedding the file hash into this template, chezmoi will only detect
# changes if the hashed file changes. This will prevent unnecessarily running
# the script when the target file hasn't changed.

fileHash=$(shasum -a 256 "$HOME/.local/share/chezmoi/.chezmoidata/packages.yaml")

# SCRIPT **********************************************************************
# *****************************************************************************

# ask the user if they want to install packages, and if not then exit
read -p "Install Packages? (y/n)" -n 1 -r
echo ""
if [[ ! $REPLY =~ ^[Yy]$ ]]; then
    echo "Skipping package installation."
    read -p "Press Enter to exit"
    exit
else
    $totalPackages = {{ .packages | len }};
    $currentPackage = 0;
    echo "Processing $totalPackages Packages..."
    echo ""
    {{ range .packages -}}
        $currentPackage++;
        {{ if .mac -}}
            echo "----- [$currentPackage/$totalPackages] {{ .mac }}"
            {{ .mac }}
        {{ end -}}
    {{ end -}}
fi

chmod +x $HOME/.config/sketchybar/plugins/*

echo ""
read -p "Done! Press Enter to exit the package installer."

{{ end -}}

