{{ if eq .chezmoi.os "darwin" -}}

#!/bin/bash

# FILEHASH ********************************************************************
# *****************************************************************************

# by embedding the file hash into this template, chezmoi will only detect
# changes if the hashed file changes. This will prevent unnecessarily running
# the script when the target file hasn't changed.

fileHash=$(shasum -a 256 "$HOME/.local/share/chezmoi/.chezmoidata/packages.yaml")

# SCRIPT **********************************************************************
# *****************************************************************************

{{ range .packages.macos.taps -}}
    brew tap {{ . | quote }}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF

{{ range .packages.macos.brews -}}
    brew {{ . | quote }}
{{ end -}}
{{ range .packages.macos.casks -}}
    cask {{ . | quote }}
{{ end -}}

EOF

{{ range .packages.macos.commands -}}
{{ . }}
{{ end -}}

{{ end -}}
