# this is a powershell script that runs winget to install packages

{{ if eq .chezmoi.os "windows" -}}

{{ range .packages.windows.winget -}}
echo "- Checking for {{ . }}..."
winget install -e {{ . }}
{{ end -}}

{{ end -}}
